{% extends 'website/base.html' %}

{% load static %}

{% block content %}
<!-- info section -->
<section class="info_section">
  <div class="container ">
    <div class="row custom_border-btm center pb-4" style="
        justify-content: center;">
      <div class="col-md-4 info_logo">
        <h2>
          Octavia Andrei
        </h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or
        </p>
      </div>
      <div class="col-md-4 info_address">
        <h5>
          Addresa
        </h5>
        <p>
          passages of Lorem Ipsum available, but the majority have
        </p>
        <p>
          (+71) 1234567890
        </p>
        <p>
          demo@gmail.com
        </p>
      </div>
    </div>
    <!-- end info section -->
  
{% endblock %}