{% extends 'website/base.html'  %}

{% load static %}

{% block content %}

    <section class="hero_section position-relative">
      <div class="number-container d-none d-md-block">
      </div>
      <div class="hero_section-container ">

      <div class="hero_img-box">
          <img src="{% static 'website/images/translate.jpg' %}" alt="">
      </div>
      <div class="hero_detail-box">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="hero_detail-container">
                  <h1>
                    Octavia ANDREI. <br>
                    Traducator <br>
                    & Translator <br>
                    Autorizat
                  </h1>
                  <p>
                    Sunt traducator autorizat de Ministerul Justitiei din 2005 pentru limbile ENGLEZA si ITALIANA.
                    Sunt furnizor direct de servicii de traducere si interpretariat.
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>

    </section>



<!-- practice section -->
<section class="practice_section layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-center">

<h3 class="text-uppercase">
    Serviciile Mele
</h3>
    </div>
    <div class="practice_container">
      <div class="practice_box">
        <div class="practice_img-box">
<img src="{% static 'website/images/lawyer_icon1.png' %}" alt="">
        </div>
        <h4>
            Traduceri

        </h4>
      </div>
      <div class="practice_box">
          <div class="practice_img-box">
  <img src="{% static 'website/images/lawyer_icon2.png' %}" alt="">
          </div>
          <h4>
            Traduceri Legalizate

  
          </h4>
        </div>
        <div class="practice_box">
            <div class="practice_img-box">
    <img src="{% static 'website/images/lawyer_icon3.png' %}" alt="">
            </div>
            <h4>
              
          Interpretariat
    
            </h4>
          </div>
          <div class="practice_box">
              <div class="practice_img-box">
      <img src="{% static 'website/images/lawyer_icon4.png' %}" alt="">
              </div>
              <h4>

            Meditatii

              </h4>
            </div>
    </div> 
    <div class="practice_detail">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
      </p>
  
    </div>

  </div>
</section>
<!-- end practice section -->

<!-- info section -->
<section class="info_section">
  <div class="container">
    <div class="row custom_border-btm center pb-4" style="
    justify-content: center;">
      <div class="col-md-4 info_logo">
        <h2>
          Octavia ANDREI
        </h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or
        </p>
      </div>
      <div class="col-md-4 info_address">
        <h5>
          Adresa
        </h5>
        <p>
          passages of Lorem Ipsum available, but the majority have
        </p>
        <p>
          (+71) 1234567890
        </p>
        <p>
          demo@gmail.com
        </p>
      </div>
    </div>
    <!-- end info section -->

{% endblock %}

